@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

:root {
  --bg-color: #015971;
  --primary-color: #ff6666;
  --secondary-color: #07ffe6;
  --font-family-default: "Comfortaa", cursive;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family-default);
}

.btn {
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100vh;
}

.reset-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 0.25em 1em;
  border-radius: 10px;
}

.title {
  color: var(--secondary-color);
  font-size: 3em;
}

.board {
  display: grid;
  width: min(420px, 90%);
  aspect-ratio: 1 / 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--secondary-color);
  gap: 0.4em;
}

.square {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  background-color: var(--bg-color);
}

.square.x,
.title span.x {
  color: var(--secondary-color);
}

.square.o,
.title span.o {
  color: var(--primary-color);
}

@media (min-width: 480px) {
  .reset-btn{
    transition: background-color 0.3s, color 0.3s;
  }

  .reset-btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media (max-width: 480px) {
  .reset-btn{
    font-size: 1.5em;
    border-radius: 5px;
    right: 50%;
    transform: translateX(50%);
  }

  .title{
    font-size: 2em;
  }

  .square{
    font-size: 4em;
  }
}